.show {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  justify-content: center;
  padding: 10px;
  width: 500px;
  margin-top: 20px;
  background-color: #fff4e6;

  & img {
    width: 200px;
    height: 200px;
    justify-self: center;
  }

  & button {
    font-size: 2rem;
    background-color: #ffdab9;
    border-radius: 5px;
    padding: 3px;
    justify-self: center;
    cursor:pointer;
  }

  & p{
    
     font-family: "Poiret One", sans-serif;
        font-weight: 400;
        font-style: normal;
  }
}

