
main{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.image{grid-area: image;
width: 150px;
height: 150px;}

.foodName{grid-area: foodName;}

.description{grid-area: description;}

.quantity{grid-area: quantity;}

.orderItems{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.foodCard{
    border: 1px solid black;
    width: 600px;
    height: 150px;
    display: grid;
    grid-template-areas: 
    "image foodName foodName"
    "image description quantity"
    ;
}

.total{
    width: 350px;
    height: 150px;
    background-color: #b87333;
    & p{
        font-size: 2rem;
        padding: 5px;
        
    }
}